$Denim: #116acc;
$Mirage: #182233;
$Carnation: #fd4e5d;
$Black: #000000;
$PaleSky: #6b7280;
$GrayChateau: #9ca3af;
$OxfordBlue: #374151;
$Mischka: #d1d5db;
$AthensGray: #f3f4f6;
$White: #ffffff;
$Anakiwa: #a0c3ff;
$HavelockBlue: #5897db;
$Mantis: #76ca66;
$SaffronMango: #fbc756;
$GuardsmanRed: #ba0000;
$LinkWater: #cfe1f5;
$VeniceBlue: #0c4a8f;
$WhiteLilac: #ebeff7;
$LinkWater2: #dbe4f7;
$Bizarre: #eddcdd;
$Ghost: #c7cbd1;
